<!doctype html>
<html lang="pt">
  <head>
    <title>UTODO - Faça você mesmo</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body class="container-fluid">
    

    <figure class="figure position-absolute text-center">
      <img src="logo.png" class="figure-img img-fluid rounded" alt="UTODO- Faça você mesmo!" width="100" height="100">
      <figcaption class="figure-caption text-xs-right">UTODO - Faça você mesmo!</figcaption>
    </figure>
    <div class="grandParentContaniner">
      <div class="parentContainer">
        <div class="card p-5">
          <div class="card-body">
            <h4 class="card-title" id="title-login">Cadastro</h4>
            <p class="card-text">Para acessar nosso site você precisa estar logado.</p>
            <form action="../php/cadastro.php" method="POST">
              <div class="form-group">
                <label for="">Nome de Usuário</label>
                <input type="text" name="login" id="login" class="form-control">
              </div>
              <div class="form-group">
                <label for="">Senha</label>
                <input type="password" name="senha" id="senha" class="form-control">
              </div>
              <button class="btn btn-primary">ENVIAR</button>
              <a href="../" class="btn btn-secondary">Voltar</a>
            </form>
          </div>
        </div>
      </div>
    </div>


    <script src="./source/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>