<!DOCTYPE html>
<html>
	<head>
		<title>Aula jQuery</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="styles.css">
	</head>
	<body>

		<div class="show-image"></div>

		<div id="gallery"></div>

		<div class="arrow" id="left-arrow"> <h1><</h1> </div>
		<div class="arrow" id="right-arrow"> <h1>></h1> </div>

		<div id="image-controls"></div>


		<script src="main.js" defer></script>
		<script type="text/javascript" src="jquery.js"></script>
		<script type="text/javascript" src="effects.js"></script>

	</body>
</html>